src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getDeltaFlights" doc:id="7bcb1b13-8be4-460e-a4bd-d53eb7bddab1" >
		<http:listener doc:name="GET /delta" doc:id="4bc319d3-3214-4921-a6bb-99539d945985" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="4a4884fb-d7c5-487e-bc5e-1e06fa2808b2" name="setCode"/>
		<ee:transform doc:name="Pass Code" doc:id="61ff86bf-1d34-46f4-8e9d-91a03246ddf6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="GET flights" doc:id="c242218b-0dce-47ff-a3b7-bfbf79d78a4d" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [flight]" doc:id="d5b9e217-e3f7-47f1-b51a-304ad379848b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6a7b3e62-f1c5-4b3f-99a0-4d5c9d9d4ca5" />
	</flow>
	<sub-flow name="setCode" doc:id="fe7fdfe2-c994-48ee-bfdb-222909ef6ecb" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="e01ec323-2566-41a1-9337-d182a8a18f9f" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="69281de8-8c8c-43b9-b77f-bfe39714233d" >
		<http:listener doc:name="GET /american" doc:id="78974303-e508-44f5-a46a-bd5ef2b63c15" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="a64995aa-0ab0-4802-8bac-faeb8ed51139" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="b1ac6f35-3ec5-4943-8745-daff9ee0fe0a" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [flight]" doc:id="790babc8-9295-458b-9c8f-31bae81a99ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="43a25e00-0c8c-4ec4-95b4-6e2afc765fae" />
	</flow>
	<flow name="getUnitedFlights" doc:id="e42c8846-c99b-4342-b7f6-a20403343964" >
		<http:listener doc:name="GET  /united" doc:id="c6c0ce85-4945-4033-a79e-72350ea8ddc8" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="3c57809f-5113-4024-baff-47044eeafd49" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="2bf5f4f4-c151-444d-b5d1-3a0be790c0aa" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [flight]" doc:id="af77aac2-a52c-42c7-9ee8-e2d1fedf191d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c551d735-6fe1-49d3-9bf1-9e82339da7e0" />
	</flow>
</mule>
